/* Estilos para tabletas */
@media screen and (max-width: 820px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
        overflow-y: auto;
        font-family: 'Roboto', sans-serif;

    }
    .main{
        overflow-y: auto;
        margin-left: auto;
    }
    .personaldata{
        height: 85vh;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .datos{
        margin: auto;
        text-align: center;
        margin-top: 4vh;
    }
    .datos1{
        margin: auto;
        margin-top: 25%;
        align-items: center;
        text-align: center;
        width: 90%;
        font-size: 70%;
    }
    .nombre{
        text-align: center;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        text-align: left;
        margin: auto;
        margin-top: 10%;
        width: 90%;
        font-size: 65%;
    }
    .lenguajes{
        margin-top: 15vh;
        padding-top: 10vh;
        margin-left: 0%;
    }
    .lenguajes h2{
        margin-bottom: -5%;
        margin-top: 0%;
        font-size: 240%;
        height: 100px;
    }
    .projects{
        margin: auto;
        margin-top: 10%;
        font-size: 200%;
    }
    .projects h2{
        margin: auto;
        height: 5%;
        font-size: 150%;
        margin-bottom: 4%;
    }
    .grid-containertec {
        margin: auto;
        grid-template-columns: repeat(auto-fill, minmax(310px, 0fr));
    }
      .grid-itemtec {
        margin-top: 0%;
        margin: auto;
        padding: 15px;
        width: 90%;
        height: 270px;
        font-size: 65%;
      }.grid-itemtec h2{
        height: 25%;
        margin-bottom: %;
      }
      .grid-itemtec .tecnologias{
        font-size: 150%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual ancho */
        gap: 10px; /* Espacio entre los elementos */
      }
      .image-with-text {
        margin: auto;
        font-size: 50%;
      }
      
      .image-with-text img {
        width: 50px; /* Ajusta el ancho según sea necesario */
        height: 50px; /* Esto permite que la imagen se ajuste proporcionalmente */
      }
      
      .image-with-text p {
        font-size: 220%;
        margin-top: 5px; /* Espacio entre la imagen y el texto */
      }

    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }
    .container-project{
        width:100%;
        font-size: 55%;
    }
    .container-project .nameprj{
        font-size: 200%;
        font-family: 'Roboto', sans-serif;
    }
    .contactme{
        margin-top: 20%;
        font-size: 55%;
        margin-bottom: 5%;
    }
    .contactme .correotxt{
        font-size: 3vh;
    }
    .modalprj1{
        height: 50%;
        font-size: 45%;
    }
    .modalcontent{
        font-size: 40%;
    }
}

@media screen and (max-width: 540px) {
    .main{
        margin-left: auto; 
    }
    .datos2{
        font-size: 70%;
    }
    .modalprj1{
        height: 50%;
    }
}

/* iPmini */
@media screen and (max-width: 768px) {
    .main{
        margin-left: auto; 
    }
    body{
        margin-left: 0;
    }
    .datos1{
        margin-top: 10vh;
    }
    .datos2{
        margin-top: -4%;
    }
    .personaldata{
        font-size: 80%;
    }
    .modalprj1{
        height: 50%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(50vh, 0fr));
    }
    .grid-itemtec {
        margin-top: 2vh;
        width: 90%;
        height: 40vh;
    }
    .image-with-text img {
        width: 9vh;
        height: 9vh;
    }
    .grid-itemtec h2{
        margin-bottom: -4%;
    }
    .btnlinks1{
        margin-top: 2vh;
    }
    .descriptionprj{
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }
    .btnlinks i{
        font-size: 2.5rem;
    }
    .btnlinks1 button{
        font-size: .9rem;
    }
}


  /* i14PM */
  @media screen and (max-width: 431px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
        overflow-x: hidden;
        font-size: 80%;
    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .main{
        width: 90%;
        margin-left: auto; 
    }
    .personaldata{
        width: 90%;
        height: 80vh;
        font-size: 90%;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: 1.1vh;
        margin-top: 5%;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks1{
        top: 100%;
        margin-top: -1%;
    }

    .lenguajes h2{
        margin-bottom: -15%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 90%;
        height: 200px;
    }
    .grid-itemtec h2{
        margin-bottom: 0%;
    }
    .image-with-text img {
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
    }
    .projects{
        margin: auto;
        width: 90%;
        margin-top: 5vh;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
        gap: 1.5% 0%; /* Espacio entre los elementos */
        margin: auto;
        padding: 0%;
    }
    .container-project{
        margin: auto;
        width: 90%;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }

    .contactme{
        font-size: 90%;
        margin-top: 60vh;
        margin-bottom: 5%;
    }
    .modalprj1{
        height: 50%;
    }
  }


    /* R6Pro, iPh12PM */
@media screen and (max-width: 412px) {
html{
background-color: white;
background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
overflow-x: hidden;
font-size: 80%;
}
body{
margin-left: 0;
width: 100%;
}
.main{
width: 90%;
margin-left: auto;
}
.personaldata{
width: 90%;
height: 80vh;
font-size: 100%;
margin-top: 15%;
flex-wrap: wrap;
text-align: center;
margin: auto;

}
.datos1{
text-align: center;
padding-top: 10%;
margin: auto;
width: 100%;
}
.datos1 img{
margin: auto;
}
.datos2{
font-size: 1.1vh;
margin-top: 5%;
margin-left: 2%;
width: 90%;
height: auto;
}
.aboutme h2{
margin-top: 0;
}
.descriptionme{
height: 40%;
}
.btnlinks1 {
    font-size: 2vh;
top: 93%;
}
.btnlinks i{
font-size: 220%;
}
.lenguajes h2{
padding-top: 0%;
margin-bottom: -15%;
}
.grid-containertec{
grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
margin: auto;
}
.grid-itemtec {
margin: auto;
width: 90%;
height: auto;
}
.grid-itemtec h2{
margin-bottom: 7%;
}
.image-with-text img {
width: 40px; /* Ajusta el ancho según sea necesario */
height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
}
.projects{
margin: auto;
width: 90%;
margin-top: 10vh;
margin-bottom: 45vh;
height: auto;
}
.projects h2{
margin-top: 6vh;
}
.grid-containerprj{
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
gap: 1.5% 0%; /* Espacio entre los elementos */
margin: auto;
padding: 0%;
margin-bottom: 10vh; /* Añadido espacio inferior para separar de contactme */
}
.container-project{
margin: auto;
width: 90%;
}
.photoprj1 img{
width: 70%;
height: 1%;
margin: auto;
margin-top: 1%;
border-radius: 0px;
box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
}
.contactme{
    margin-top: 45vh;
    font-size: 90%;
    margin-bottom: 15%;
}
.contactme .contactmett{
    font-size: 300%;
}
.modalprj1{
    height: 50%;
}
}


/* iSE */
@media screen and (max-width: 376px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 95%, #67d4ff50 100%);
        overflow-x: hidden;
        font-size: 100%;
    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .main{
        margin-left: auto;
        width: 90%;
    }
    .personaldata{
        width: 90%;
        height: 80vh;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: .5rem;
        margin-top: 5%;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks1 {
        margin-top: -5vh;
    }
    .btnlinks i{
        font-size: 250%;
    }

    .lenguajes h2{
        font-size: 200%;
        margin-bottom: -15%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 90%;
        height: auto;
    }
    .grid-itemtec h2{
        margin-bottom: 2vh;
    }
    .image-with-text img {
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
    }
    .projects{
        margin: auto;
        width: 90%;
        margin-top: 5vh;
        font-size: 150%;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
        gap: 1.5% 0%; /* Espacio entre los elementos */
        margin: auto;
        padding: 0%;
    }
    .container-project{
        margin: auto;
        width: 90%;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }

    .contactme{
        margin-top: 45vh;
        margin-bottom: 5%;
        font-size: 70%;
        margin-bottom: 15%;
    }
    .contactme .contactmett{
        font-size: 300%;
    }
    .modalprj1{
        height: 50%;
    }
  }

  /* R6Pro */
  @media screen and (max-width: 360px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
        overflow-x: hidden;
        font-size: 80%;
    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .main{
        margin-left: auto;
        width: 90%;
    }.personaldata{
        width: 90%;
        height: 80vh;
        font-size: 90%;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: 1.1vh;
        margin-top: 5%;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks1 {
        margin-top: -2vh;
    }
    .btnlinks i{
        font-size: 250%;
    }

    .lenguajes h2{
        margin-bottom: -15%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 90%;
        height: 200px;
    }
    .grid-itemtec h2{
        margin-bottom: 0%;
    }
    .image-with-text img {
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
    }
    .projects{
        margin: auto;
        width: 90%;
        margin-top: 5vh;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
        gap: 1.5% 0%; /* Espacio entre los elementos */
        margin: auto;
        padding: 0%;
    }
    .container-project{
        margin-left: calc(5%);
        width: 80%;
    }
    .descriptionprj{
        font-size: 150%;
        font-family: 'Roboto', sans-serif;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }
    .contactme{
        margin-top: 60vh;
        margin-bottom: 5%;
        font-size: 70%;
        margin-bottom: 15%;
    }
    .contactme .contactmett{
        font-size: 300%;
    }
    .modalprj1{
        height: 50%;
    }
  }