.nameprj1{
    color: #2da4f3;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;

}

.categorie1{
    margin-top: 2%;
    color: black;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
}

.photoprj1 img{
    width: 90%;
    height: 1%;
    margin: auto;
    margin-top: 10px;
    border-radius: 3%;
    box-shadow: 1px 15px 2vh rgba(0, 0, 0, 0.533);
}

.lenguajesprj1{
    margin: auto;
    padding: 1%;
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.827);
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.lenguajesprj1 img{
    margin-top: 1%;
    margin-right: 3%;
    width: 10%;
    height: auto;
}

.descriptionprj1{
    color: black;
    margin: auto;
    margin-top: 5%;
    font-size: 200%;
    text-align: center;
    color: 424242;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}
.descriptionprj2{
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}
.descriptionprj3{
    color: black;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}
.descriptionprj4{
    margin-top: 4%;
    text-align: center;
    color: 424242;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

